client/app/xml/paysafecard_wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:pscservice" xmlns:impl="urn:pscservice" xmlns:intf="urn:pscservice" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="urn:pscservice" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="createDisposition">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="mtid" type="xsd:string" />
						<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
						<element name="amount" type="xsd:double" />
						<element name="currency" type="xsd:string" />
						<element minOccurs="0" name="okUrl" type="xsd:string" />
						<element minOccurs="0" name="nokUrl" type="xsd:string" />
						<element minOccurs="0" name="merchantclientid" type="xsd:string" />
						<element minOccurs="0" name="pnUrl" type="xsd:string" />
						<element minOccurs="0" name="clientIp" type="xsd:string" />
						<element maxOccurs="unbounded" minOccurs="0" name="dispositionRestrictions" type="impl:DispositionRestriction" />
						<element minOccurs="0" name="merchantClientData" type="impl:MerchantClientData" />
						<element minOccurs="0" name="shopId" type="xsd:string" />
						<element minOccurs="0" name="shopLabel" type="xsd:string" />
						<element minOccurs="0" maxOccurs="unbounded" name="customerDetail" type="xsd:string" />
						<element minOccurs="0" name="subscription" type="xsd:boolean" />
					</sequence>
				</complexType>
			</element>
			<complexType name="MerchantClientData">
				<sequence>
					<element minOccurs="0" name="value01" type="xsd:string" />
					<element minOccurs="0" name="value02" type="xsd:string" />
					<element minOccurs="0" name="value03" type="xsd:string" />
					<element minOccurs="0" name="value04" type="xsd:string" />
					<element minOccurs="0" name="value05" type="xsd:string" />
					<element minOccurs="0" name="value06" type="xsd:string" />
					<element minOccurs="0" name="value07" type="xsd:string" />
					<element minOccurs="0" name="value08" type="xsd:string" />
					<element minOccurs="0" name="value09" type="xsd:string" />
					<element minOccurs="0" name="value10" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="DispositionRestriction">
				<sequence>
					<element name="key" type="xsd:string" />
					<element name="value" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="createDispositionResponse">
				<complexType>
					<sequence>
						<element name="createDispositionReturn" type="impl:CreateDispositionReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="CreateDispositionReturn">
				<sequence>
					<element name="mtid" type="xsd:string" />
					<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
					<element name="mid" nillable="true" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
				</sequence>
			</complexType>
			<element name="assignCardToDisposition">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="mtid" type="xsd:string" />
						<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
						<element name="amount" type="xsd:double" />
						<element name="currency" type="xsd:string" />
						<element name="pin" type="xsd:string" />
						<element minOccurs="0" name="threatmetrixIdentifier" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="assignCardToDispositionResponse">
				<complexType>
					<sequence>
						<element name="assignCardToDispositionReturn" type="impl:AssignCardToDispositionReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="AssignCardToDispositionReturn">
				<sequence>
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="mtid" type="xsd:string" />
					<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
					<element name="mid" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="assignCardsToDisposition">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="mtid" type="xsd:string" />
						<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
						<element name="amount" type="xsd:double" />
						<element name="currency" type="xsd:string" />
						<element minOccurs="0" name="locale" type="xsd:string" />
						<element name="acceptingTerms" type="xsd:int" />
						<element maxOccurs="10" minOccurs="1" name="cards" type="impl:AssignCardsInformation" />
						<element minOccurs="0" name="threatmetrixIdentifier" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<complexType name="AssignCardsInformation">
				<sequence>
					<element name="pin" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="password" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="assignCardsToDispositionResponse">
				<complexType>
					<sequence>
						<element name="assignCardsToDispositionReturn" type="impl:AssignCardsToDispositionReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="AssignCardsToDispositionReturn">
				<sequence>
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element minOccurs="0" name="errorMessage" type="xsd:string" />
					<element name="mtid" type="xsd:string" />
					<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
					<element name="mid" nillable="true" type="xsd:string" />
					<element maxOccurs="10" minOccurs="0" name="cardsError" type="impl:AssignCardsError" />
				</sequence>
			</complexType>
			<complexType name="AssignCardsError">
				<sequence>
					<element name="pin" type="xsd:string" />
					<element name="errorCode" type="xsd:int" />
					<element name="errorMessage" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="modifyDispositionValue">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="mtid" type="xsd:string" />
						<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
						<element name="amount" type="xsd:double" />
						<element name="currency" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="modifyDispositionValueResponse">
				<complexType>
					<sequence>
						<element name="modifyDispositionValueReturn" type="impl:ModifyDispositionValueReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ModifyDispositionValueReturn">
				<sequence>
					<element name="mtid" type="xsd:string" />
					<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
				</sequence>
			</complexType>
			<element name="getSerialNumbers">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="mtid" type="xsd:string" />
						<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
						<element name="currency" type="xsd:string" />
						<element name="customerDetail" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>
									Valid values for customerDetail are:
									- CUSTOMER_ID
									- AGE
									- E_MAIL
									- FIRST_NAME
									- KYC_LEVEL
									- USER_NAME
									- LAST_NAME
									- CURRENCY
								</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="getSerialNumbersResponse">
				<complexType>
					<sequence>
						<element name="getSerialNumbersReturn" type="impl:GetSerialNumbersReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="GetSerialNumbersReturn">
				<sequence>
					<element name="mtid" type="xsd:string" />
					<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="amount" type="xsd:double" />
					<element name="currency" nillable="true" type="xsd:string" />
					<element name="dispositionState" nillable="true" type="xsd:string" />
					<element name="serialNumbers" nillable="true" type="xsd:string" />
					<element name="customerDetails" type="impl:CustomerDetails" minOccurs="0" />
				</sequence>
			</complexType>
			<complexType name="CustomerDetails">
				<sequence>
					<element name="firstName" type="xsd:string" minOccurs="0" />
					<element name="lastName" type="xsd:string" minOccurs="0" />
					<element name="email" type="xsd:string" minOccurs="0" />
					<element name="customerId" type="xsd:string" minOccurs="0" />
					<element name="age" type="xsd:string" minOccurs="0" />
					<element name="kycLevel" type="xsd:string" minOccurs="0" />
					<element name="currency" type="xsd:string" minOccurs="0" />
				</sequence>
			</complexType>
			<complexType name="CustomerDetailsBasic">
				<sequence>
					<element name="firstName" type="xsd:string" minOccurs="0" />
					<element name="lastName" type="xsd:string" minOccurs="0" />
					<element name="dateOfBirth" type="xsd:string" minOccurs="0" />
				</sequence>
			</complexType>
			<element name="getDispositionRawState">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="mtid" type="xsd:string" />
						<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
						<element name="currency" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="getDispositionRawStateResponse">
				<complexType>
					<sequence>
						<element name="getDispositionRawStateReturn" type="impl:GetDispositionRawStateReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="GetDispositionRawStateReturn">
				<sequence>
					<element name="mtid" type="xsd:string" />
					<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="amount" type="xsd:double" />
					<element name="currency" nillable="true" type="xsd:string" />
					<element name="dispositionState" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="executeDirectDebit">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="mtid" type="xsd:string" />
						<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
						<element name="amount" type="xsd:double" />
						<element name="currency" type="xsd:string" />
						<element minOccurs="0" name="merchantclientid" type="xsd:string" />
						<element minOccurs="0" name="pnUrl" type="xsd:string" />
						<element maxOccurs="unbounded" minOccurs="0" name="dispositionRestrictions" type="impl:DispositionRestriction" />
						<element minOccurs="0" name="shopId" type="xsd:string" />
						<element minOccurs="0" name="shopLabel" type="xsd:string" />
						<element minOccurs="0" maxOccurs="unbounded" name="customerDetail" type="xsd:string" />
						<element minOccurs="0" name="validationOnly" type="xsd:boolean" />
						<element minOccurs="0" name="customerIdType" type="impl:CustomerIdType" />
						<element minOccurs="0" name="customerId" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="executeDirectDebitResponse">
				<complexType>
					<sequence>
						<element name="executeDirectDebitReturn" type="impl:ExecuteDirectDebitReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ExecuteDirectDebitReturn">
				<sequence>
					<element name="mtid" type="xsd:string" />
					<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
				</sequence>
			</complexType>
			<element name="executeDebit">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="mtid" type="xsd:string" />
						<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
						<element name="amount" type="xsd:double" />
						<element name="currency" type="xsd:string" />
						<element name="close" type="xsd:int" />
						<element minOccurs="0" name="partialDebitId" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="executeDebitResponse">
				<complexType>
					<sequence>
						<element name="executeDebitReturn" type="impl:ExecuteDebitReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ExecuteDebitReturn">
				<sequence>
					<element name="mtid" type="xsd:string" />
					<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
				</sequence>
			</complexType>
			<element name="getCardInfo">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="id" type="xsd:string" />
						<element name="subId" type="xsd:string" />
						<element name="pin" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="getCardInfoResponse">
				<complexType>
					<sequence>
						<element name="getCardInfoReturn" type="impl:GetCardInfoReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="GetCardInfoReturn">
				<sequence>
					<element name="id" type="xsd:string" />
					<element name="subId" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="balance" type="xsd:double" />
					<element name="faceValue" type="xsd:double" />
					<element name="cardState" nillable="true" type="xsd:string" />
					<element name="serial" nillable="true" type="xsd:string" />
					<element name="currency" nillable="true" type="xsd:string" />
					<element name="cardType" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="getCardInfoActDate">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="id" type="xsd:string" />
						<element name="subId" type="xsd:string" />
						<element name="pin" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="getCardInfoActDateResponse">
				<complexType>
					<sequence>
						<element name="getCardInfoActDateReturn" type="impl:GetCardInfoActDateReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="GetCardInfoActDateReturn">
				<sequence>
					<element name="id" type="xsd:string" />
					<element name="subId" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="balance" type="xsd:double" />
					<element name="faceValue" type="xsd:double" />
					<element name="cardState" nillable="true" type="xsd:string" />
					<element name="serial" nillable="true" type="xsd:string" />
					<element name="currency" nillable="true" type="xsd:string" />
					<element name="cardType" nillable="true" type="xsd:string" />
					<element name="cardActivationDate" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="getBalance">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="id" type="xsd:string" />
						<element name="subId" type="xsd:string" />
						<element name="pin" type="xsd:string" />
						<element name="dispositionCurrency" type="xsd:string" minOccurs="0" />
					</sequence>
				</complexType>
			</element>
			<element name="getBalanceResponse">
				<complexType>
					<sequence>
						<element name="getBalanceReturn" type="impl:GetBalanceReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="GetBalanceReturn">
				<sequence>
					<element name="id" type="xsd:string" />
					<element name="subId" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="balance" type="xsd:double" />
					<element name="currency" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="getConvertedDispositionAmount">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="mtid" type="xsd:string" />
						<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
						<element name="cardAmount" type="xsd:double" />
						<element name="cardCurrency" type="xsd:string" />
						<element name="dispositionCurrency" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="getConvertedDispositionAmountResponse">
				<complexType>
					<sequence>
						<element name="getConvertedDispositionAmountReturn" type="impl:GetConvertedDispositionAmountReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="GetConvertedDispositionAmountReturn">
				<sequence>
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="mtid" type="xsd:string" />
					<element maxOccurs="unbounded" minOccurs="0" name="subId" type="xsd:string" />
					<element name="cardAmount" type="xsd:double" />
					<element name="cardCurrency" type="xsd:string" />
					<element name="dispositionCurrency" type="xsd:string" />
					<element name="convertedDispositionAmount" type="xsd:double" />
				</sequence>
			</complexType>
			<element name="activateCard">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="id" type="xsd:string" />
						<element name="subId" type="xsd:string" />
						<element name="serial" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="activateCardResponse">
				<complexType>
					<sequence>
						<element name="activateCardReturn" type="impl:ActivateCardReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ActivateCardReturn">
				<sequence>
					<element name="id" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="subId" type="xsd:string" />
					<element name="faceValue" type="xsd:double" />
				</sequence>
			</complexType>
			<element name="deactivateCard">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="id" type="xsd:string" />
						<element name="subId" type="xsd:string" />
						<element name="serial" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="deactivateCardResponse">
				<complexType>
					<sequence>
						<element name="deactivateCardReturn" type="impl:DeactivateCardReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="DeactivateCardReturn">
				<sequence>
					<element name="id" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="subId" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="cancelCard">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="id" type="xsd:string" />
						<element name="subId" type="xsd:string" />
						<element name="serial" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="cancelCardResponse">
				<complexType>
					<sequence>
						<element name="cancelCardReturn" type="impl:CancelCardReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="CancelCardReturn">
				<sequence>
					<element name="id" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="subId" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="executePayment">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="id" type="xsd:string" />
						<element name="subId" type="xsd:string" />
						<element name="pin" type="xsd:string" />
						<element name="amount" type="xsd:double" />
						<element name="currency" type="xsd:string" />
						<element minOccurs="0" name="merchantclientid" type="xsd:string" />
						<element minOccurs="0" name="pnUrl" type="xsd:string" />
						<element minOccurs="0" name="clientIp" type="xsd:string" />
						<element minOccurs="0" name="threatmetrixIdentifier" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="executePaymentResponse">
				<complexType>
					<sequence>
						<element name="executePaymentReturn" type="impl:ExecutePaymentReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ExecutePaymentReturn">
				<sequence>
					<element name="balance" type="xsd:double" />
					<element name="currency" nillable="true" type="xsd:string" />
					<element name="id" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="subId" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="executePaymentActDate">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="id" type="xsd:string" />
						<element name="subId" type="xsd:string" />
						<element name="pin" type="xsd:string" />
						<element name="amount" type="xsd:double" />
						<element name="currency" type="xsd:string" />
						<element minOccurs="0" name="merchantclientid" type="xsd:string" />
						<element minOccurs="0" name="pnUrl" type="xsd:string" />
						<element minOccurs="0" name="clientIp" type="xsd:string" />
						<element minOccurs="0" name="threatmetrixIdentifier" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="executePaymentActDateResponse">
				<complexType>
					<sequence>
						<element name="executePaymentActDateReturn" type="impl:ExecutePaymentActDateReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ExecutePaymentActDateReturn">
				<sequence>
					<element name="balance" type="xsd:double" />
					<element name="currency" nillable="true" type="xsd:string" />
					<element name="id" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="subId" type="xsd:string" />
					<element name="cardActivationDate" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="executePaymentACK">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="id" type="xsd:string" />
						<element name="subId" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="executePaymentACKResponse">
				<complexType>
					<sequence>
						<element name="executePaymentACKReturn" type="impl:ExecutePaymentACKReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ExecutePaymentACKReturn">
				<sequence>
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="id" type="xsd:string" />
					<element name="subId" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="cancelPayment">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="id" type="xsd:string" />
						<element name="subId" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="cancelPaymentResponse">
				<complexType>
					<sequence>
						<element name="cancelPaymentReturn" type="impl:CancelPaymentReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="CancelPaymentReturn">
				<sequence>
					<element name="balance" type="xsd:double" />
					<element name="currency" nillable="true" type="xsd:string" />
					<element name="errorCode" type="xsd:int" />
					<element name="id" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="subId" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="getMid">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="currency" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="getMidResponse">
				<complexType>
					<sequence>
						<element name="getMidReturn" type="impl:GetMidReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="GetMidReturn">
				<sequence>
					<element name="currency" nillable="true" type="xsd:string" />
					<element name="mid" nillable="true" type="xsd:string" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
				</sequence>
			</complexType>
			<element name="openLoopGiftcardActivation">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="messageId" type="xsd:int" />
						<element name="accountNumber" type="xsd:string" />
						<element name="subId" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="openLoopGiftcardActivationResponse">
				<complexType>
					<sequence>
						<element name="openLoopGiftcardActivationReturn" type="impl:OpenLoopGiftcardActivationReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="OpenLoopGiftcardActivationReturn">
				<sequence>
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="messageId" type="xsd:int" />
					<element name="accountNumber" type="xsd:string" />
					<element name="subId" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="openLoopGiftcardReversal">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="messageId" type="xsd:int" />
						<element name="accountNumber" type="xsd:string" />
						<element name="subId" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="openLoopGiftcardReversalResponse">
				<complexType>
					<sequence>
						<element name="openLoopGiftcardReversalReturn" type="impl:OpenLoopGiftcardReversalReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="OpenLoopGiftcardReversalReturn">
				<sequence>
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="messageId" type="xsd:int" />
					<element name="accountNumber" type="xsd:string" />
					<element name="subId" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="loadWallet">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="dtid" type="xsd:string" />
						<element name="customerIdentificationNumber" type="xsd:string" />
						<element name="customerIdentificationType" type="impl:CustomerIdentificationType" />
						<element name="amount" type="xsd:double" />
						<element name="product" type="xsd:string" />
						<element name="terminalId" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<simpleType name="CustomerIdentificationType">
				<restriction base="xsd:string">
					<enumeration value="phoneNumber" />
					<enumeration value="memberCard" />
				</restriction>
			</simpleType>
			<element name="loadWalletResponse">
				<complexType>
					<sequence>
						<element name="loadWalletReturn" type="impl:LoadWalletReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="LoadWalletReturn">
				<sequence>
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="dtid" type="xsd:string" />
					<element minOccurs="0" name="serial" type="xsd:string" />
					<element minOccurs="0" name="customerData" type="impl:CustomerData" />
					<element name="terminalId" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="CustomerData">
				<sequence>
					<element name="customerAccount" type="xsd:string" />
					<element name="firstName" type="xsd:string" />
					<element name="lastName" type="xsd:string" />
					<element name="dateOfBirth" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="cancelLoadWallet">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="dtid" type="xsd:string" />
						<element name="terminalId" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="cancelLoadWalletResponse">
				<complexType>
					<sequence>
						<element name="cancelLoadWalletReturn" type="impl:CancelLoadWalletReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="CancelLoadWalletReturn">
				<sequence>
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="dtid" type="xsd:string" />
					<element name="terminalId" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="executePayout">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="merchantPayoutTransactionId" type="xsd:string" />
						<element name="amount" type="xsd:double" />
						<element name="currency" type="xsd:string" />
						<element minOccurs="0" name="customerId" type="xsd:long" />
						<element minOccurs="0" name="emailId" type="xsd:string" />
						<element minOccurs="0" name="reportingCriteria" type="xsd:string" />
						<element minOccurs="0" name="shopId" type="xsd:string" />
						<element minOccurs="0" name="shopLabel" type="xsd:string" />
						<element minOccurs="0" name="merchantclientid" type="xsd:string" />
						<element minOccurs="0" name="clientIp" type="xsd:string" />
						<element name="utcOffset" type="impl:utcOffsetType" />
					</sequence>
				</complexType>
			</element>
			<element name="executePayoutResponse">
				<complexType>
					<sequence>
						<element name="executePayoutReturn" type="impl:ExecutePayoutReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ExecutePayoutReturn">
				<sequence>
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="errorCodeDescription" type="xsd:string" />
					<element name="mid" type="xsd:string" />
					<element name="merchantPayoutTransactionId" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="PayoutReturn">
				<sequence>
					<element name="ptid" type="xsd:string" />
					<element name="requestedCurrency" type="xsd:string" />
					<element name="requestedAmount" type="xsd:double" />
					<element minOccurs="0" name="payedInCurrency" type="xsd:string" />
					<element minOccurs="0"  name="payedAmount" type="xsd:double" />
					<element minOccurs="0" name="validationOnly" type="xsd:boolean" />
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element minOccurs="0" name="errorCodeDescription" type="xsd:string" />
				</sequence>
			</complexType>
			
			<complexType name="getPayoutStateReturn">
				<sequence>
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="errorCodeDescription" type="xsd:string" />
					<element name="payoutState" type="impl:payoutState" maxOccurs="unbounded" minOccurs="0"/>				
				</sequence>
			</complexType>
			
			<complexType name="payoutState">
				<sequence>
					<element name="mid" type="xsd:string"/>
					<element name="currency" type="xsd:string"/>
					<element name="totalPayoutAmount" type="xsd:double"/>
					<element name="totalPaymentAmount" type="xsd:double"/>
					<element name="creditLine" type="xsd:double"/>
					<element name="totalPayoutBalance" type="xsd:double"/>
					<element name="dailyPayoutLimit" type="xsd:double"/>
					<element name="dailyPayoutAmount" type="xsd:double"/>
					<element name="dailyPayoutBalance" type="xsd:double"/>
				</sequence>
			</complexType>
			
			<simpleType name="CustomerIdType">
				<restriction base="xsd:string">
					<enumeration value="CUSTOMERID" />
					<enumeration value="PHONE" />
					<enumeration value="EMAIL" />
				</restriction>
			</simpleType>
			
			<element name="payout">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="ptid" type="xsd:string" />
						<element name="amount" type="xsd:double" />
						<element name="currency" type="xsd:string" />
						<element minOccurs="0" maxOccurs="1" name="customerIdType" type="impl:CustomerIdType" />
						<element minOccurs="0" maxOccurs="1" name="customerId" type="xsd:string" />
						<element minOccurs="0" maxOccurs="1" name="merchantClientId" type="xsd:string" />
						<element minOccurs="0" maxOccurs="1" name="clientIp" type="xsd:string" />
						<element minOccurs="0" maxOccurs="1" name="validationOnly" type="xsd:boolean" />
						<element minOccurs="0" maxOccurs="1" name="shopId" type="xsd:string" />
						<element minOccurs="0" maxOccurs="1" name="shopLabel" type="xsd:string" />
						<element name="utcOffset" type="impl:utcOffsetType" />
						<element minOccurs="0" maxOccurs="1" name="subId" type="xsd:string" />
						<element minOccurs="0" maxOccurs="1" name="comment" type="xsd:string" />
						<element minOccurs="0" maxOccurs="1" name="customerDetailsBasic" type="impl:CustomerDetailsBasic"/>
					</sequence>
				</complexType>
			</element>
			<element name="payoutResponse">
				<complexType>
					<sequence>
						<element name="PayoutReturn" type="impl:PayoutReturn" />
					</sequence>
				</complexType>
			</element>
			
			<element name="getPayoutState">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />						
					</sequence>
				</complexType>
			</element>
			<element name="getPayoutStateResponse">
				<complexType>
					<sequence>
						<element name="getPayoutStateReturn" type="impl:getPayoutStateReturn" />
					</sequence>
				</complexType>
			</element>			
			<element name="refund">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="rtid" type="xsd:string" />
						<element name="mtid" type="xsd:string" />
						<element name="amount" type="xsd:double" />
						<element name="currency" type="xsd:string" />
						<element minOccurs="0" name="customerIdType" type="impl:CustomerIdType" />
						<element minOccurs="0" name="customerId" type="xsd:string" />
						<element minOccurs="0" name="merchantClientId" type="xsd:string" />
						<element minOccurs="0" name="clientIp" type="xsd:string" />
						<element minOccurs="0" name="validationOnly" type="xsd:boolean" />
						<element minOccurs="0" name="shopId" type="xsd:string" />
						<element minOccurs="0" name="shopLabel" type="xsd:string" />
						<element name="utcOffset" type="impl:utcOffsetType" />
						<element minOccurs="0" name="subId" type="xsd:string" />
						<element minOccurs="0" name="comment" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="refundResponse">
				<complexType>
					<sequence>
						<element name="refundRequestReturnType" type="impl:RefundRequestReturnType" />
					</sequence>
				</complexType>
			</element>
			<complexType name="RefundRequestReturnType">
				<sequence>
				<element name="rtid" type="xsd:string" />
				<element name="mtid" type="xsd:string" />
				<element name="requestedCurrency" type="xsd:string" />
				<element name="requestedAmount" type="xsd:double" />
				<element minOccurs="0" name="refundedInCurrency" type="xsd:string" />
				<element minOccurs="0" name="refundedAmount" type="xsd:double" />
				<element minOccurs="0" name="validationOnly" type="xsd:boolean" />
				<element name="resultCode" type="xsd:int" />
				<element name="errorCode" type="xsd:int" />
				<element minOccurs="0" name="errorCodeDescription" type="xsd:string" />
				</sequence>
			</complexType>
			
			<element name="precheckPayout">
				<complexType>
					<sequence>
						<element name="username" type="xsd:string" />
						<element name="password" type="xsd:string" />
						<element name="merchantPayoutTransactionId" type="xsd:string" />
						<element name="amount" type="xsd:double" />
						<element name="currency" type="xsd:string" />
						<element minOccurs="0" name="customerId" type="xsd:long" />
						<element minOccurs="0" name="emailId" type="xsd:string" />
						<element minOccurs="0" name="reportingCriteria" type="xsd:string" />
						<element minOccurs="0" name="shopId" type="xsd:string" />
						<element minOccurs="0" name="shopLabel" type="xsd:string" />
						<element minOccurs="0" name="merchantclientid" type="xsd:string" />
						<element minOccurs="0" name="clientIp" type="xsd:string" />
						<element name="utcOffset" type="impl:utcOffsetType" />
					</sequence>
				</complexType>
			</element>
			<element name="precheckPayoutResponse">
				<complexType>
					<sequence>
						<element name="precheckPayoutReturn" type="impl:PrecheckPayoutReturn" />
					</sequence>
				</complexType>
			</element>
			<complexType name="PrecheckPayoutReturn">
				<sequence>
					<element name="resultCode" type="xsd:int" />
					<element name="errorCode" type="xsd:int" />
					<element name="errorCodeDescription" type="xsd:string" />
					<element name="mid" type="xsd:string" />
					<element name="merchantPayoutTransactionId" type="xsd:string" />
				</sequence>
			</complexType>
			<xsd:simpleType name="utcOffsetType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([+\-]{1})([0-1]){1}([0-9]){1}:([0-4]){1}([0-5]){1}" />
				</xsd:restriction>
			</xsd:simpleType>
		</schema>
	</wsdl:types>
	<wsdl:message name="getMidResponse">
		<wsdl:part name="parameters" element="impl:getMidResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSerialNumbersRequest">
		<wsdl:part name="parameters" element="impl:getSerialNumbers">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="assignCardsToDispositionResponse">
		<wsdl:part name="parameters" element="impl:assignCardsToDispositionResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="assignCardToDispositionResponse">
		<wsdl:part name="parameters" element="impl:assignCardToDispositionResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createDispositionRequest">
		<wsdl:part name="parameters" element="impl:createDisposition">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="assignCardToDispositionRequest">
		<wsdl:part name="parameters" element="impl:assignCardToDisposition">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="activateCardRequest">
		<wsdl:part name="parameters" element="impl:activateCard">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelCardRequest">
		<wsdl:part name="parameters" element="impl:cancelCard">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="modifyDispositionValueResponse">
		<wsdl:part name="parameters" element="impl:modifyDispositionValueResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createDispositionResponse">
		<wsdl:part name="parameters" element="impl:createDispositionResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="loadWalletResponse">
		<wsdl:part name="parameters" element="impl:loadWalletResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelLoadWalletResponse">
		<wsdl:part name="parameters" element="impl:cancelLoadWalletResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCardInfoActDateRequest">
		<wsdl:part name="parameters" element="impl:getCardInfoActDate">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="openLoopGiftcardReversalRequest">
		<wsdl:part name="parameters" element="impl:openLoopGiftcardReversal">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelPaymentRequest">
		<wsdl:part name="parameters" element="impl:cancelPayment">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBalanceRequest">
		<wsdl:part name="parameters" element="impl:getBalance">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deactivateCardRequest">
		<wsdl:part name="parameters" element="impl:deactivateCard">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executeDebitRequest">
		<wsdl:part name="parameters" element="impl:executeDebit">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executeDirectDebitRequest">
		<wsdl:part name="parameters" element="impl:executeDirectDebit">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCardInfoRequest">
		<wsdl:part name="parameters" element="impl:getCardInfo">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="activateCardResponse">
		<wsdl:part name="parameters" element="impl:activateCardResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelCardResponse">
		<wsdl:part name="parameters" element="impl:cancelCardResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCardInfoResponse">
		<wsdl:part name="parameters" element="impl:getCardInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executePaymentACKRequest">
		<wsdl:part name="parameters" element="impl:executePaymentACK">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBalanceResponse">
		<wsdl:part name="parameters" element="impl:getBalanceResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executePaymentACKResponse">
		<wsdl:part name="parameters" element="impl:executePaymentACKResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executeDebitResponse">
		<wsdl:part name="parameters" element="impl:executeDebitResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executeDirectDebitResponse">
		<wsdl:part name="parameters" element="impl:executeDirectDebitResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executePaymentActDateResponse">
		<wsdl:part name="parameters" element="impl:executePaymentActDateResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="modifyDispositionValueRequest">
		<wsdl:part name="parameters" element="impl:modifyDispositionValue">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executePaymentActDateRequest">
		<wsdl:part name="parameters" element="impl:executePaymentActDate">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSerialNumbersResponse">
		<wsdl:part name="parameters" element="impl:getSerialNumbersResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deactivateCardResponse">
		<wsdl:part name="parameters" element="impl:deactivateCardResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelLoadWalletRequest">
		<wsdl:part name="parameters" element="impl:cancelLoadWallet">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executePaymentResponse">
		<wsdl:part name="parameters" element="impl:executePaymentResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDispositionRawStateResponse">
		<wsdl:part name="parameters" element="impl:getDispositionRawStateResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelPaymentResponse">
		<wsdl:part name="parameters" element="impl:cancelPaymentResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCardInfoActDateResponse">
		<wsdl:part name="parameters" element="impl:getCardInfoActDateResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDispositionRawStateRequest">
		<wsdl:part name="parameters" element="impl:getDispositionRawState">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executePaymentRequest">
		<wsdl:part name="parameters" element="impl:executePayment">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="openLoopGiftcardActivationRequest">
		<wsdl:part name="parameters" element="impl:openLoopGiftcardActivation">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="openLoopGiftcardActivationResponse">
		<wsdl:part name="parameters" element="impl:openLoopGiftcardActivationResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="loadWalletRequest">
		<wsdl:part name="parameters" element="impl:loadWallet">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="openLoopGiftcardReversalResponse">
		<wsdl:part name="parameters" element="impl:openLoopGiftcardReversalResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMidRequest">
		<wsdl:part name="parameters" element="impl:getMid">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="assignCardsToDispositionRequest">
		<wsdl:part name="parameters" element="impl:assignCardsToDisposition">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executePayoutRequest">
		<wsdl:part name="parameters" element="impl:executePayout">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executePayoutResponse">
		<wsdl:part name="parameters" element="impl:executePayoutResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="refundRequest">
		<wsdl:part name="parameters" element="impl:refund">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="refundResponse">
		<wsdl:part name="parameters" element="impl:refundResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="payoutRequest">
		<wsdl:part name="parameters" element="impl:payout">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getPayoutStateRequest">
		<wsdl:part name="parameters" element="impl:getPayoutState">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="payoutResponse">
		<wsdl:part name="parameters" element="impl:payoutResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getPayoutStateResponse">
		<wsdl:part name="parameters" element="impl:getPayoutStateResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="precheckPayoutRequest">
		<wsdl:part name="parameters" element="impl:precheckPayout">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="precheckPayoutResponse">
		<wsdl:part name="parameters" element="impl:precheckPayoutResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConvertedDispositionAmountRequest">
		<wsdl:part name="parameters" element="impl:getConvertedDispositionAmount">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConvertedDispositionAmountResponse">
		<wsdl:part name="parameters" element="impl:getConvertedDispositionAmountResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Psc">
		<wsdl:operation name="createDisposition">
			<wsdl:input name="createDispositionRequest" message="impl:createDispositionRequest">
			</wsdl:input>
			<wsdl:output name="createDispositionResponse" message="impl:createDispositionResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="assignCardToDisposition">
			<wsdl:input name="assignCardToDispositionRequest" message="impl:assignCardToDispositionRequest">
			</wsdl:input>
			<wsdl:output name="assignCardToDispositionResponse" message="impl:assignCardToDispositionResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="assignCardsToDisposition">
			<wsdl:input name="assignCardsToDispositionRequest" message="impl:assignCardsToDispositionRequest">
			</wsdl:input>
			<wsdl:output name="assignCardsToDispositionResponse" message="impl:assignCardsToDispositionResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modifyDispositionValue">
			<wsdl:input name="modifyDispositionValueRequest" message="impl:modifyDispositionValueRequest">
			</wsdl:input>
			<wsdl:output name="modifyDispositionValueResponse" message="impl:modifyDispositionValueResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSerialNumbers">
			<wsdl:input name="getSerialNumbersRequest" message="impl:getSerialNumbersRequest">
			</wsdl:input>
			<wsdl:output name="getSerialNumbersResponse" message="impl:getSerialNumbersResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDispositionRawState">
			<wsdl:input name="getDispositionRawStateRequest" message="impl:getDispositionRawStateRequest">
			</wsdl:input>
			<wsdl:output name="getDispositionRawStateResponse" message="impl:getDispositionRawStateResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executeDebit">
			<wsdl:input name="executeDebitRequest" message="impl:executeDebitRequest">
			</wsdl:input>
			<wsdl:output name="executeDebitResponse" message="impl:executeDebitResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executeDirectDebit">
			<wsdl:input name="executeDirectDebitRequest" message="impl:executeDirectDebitRequest">
			</wsdl:input>
			<wsdl:output name="executeDirectDebitResponse" message="impl:executeDirectDebitResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCardInfo">
			<wsdl:input name="getCardInfoRequest" message="impl:getCardInfoRequest">
			</wsdl:input>
			<wsdl:output name="getCardInfoResponse" message="impl:getCardInfoResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCardInfoActDate">
			<wsdl:input name="getCardInfoActDateRequest" message="impl:getCardInfoActDateRequest">
			</wsdl:input>
			<wsdl:output name="getCardInfoActDateResponse" message="impl:getCardInfoActDateResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBalance">
			<wsdl:input name="getBalanceRequest" message="impl:getBalanceRequest">
			</wsdl:input>
			<wsdl:output name="getBalanceResponse" message="impl:getBalanceResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConvertedDispositionAmount">
			<wsdl:input name="getConvertedDispositionAmountRequest" message="impl:getConvertedDispositionAmountRequest">
			</wsdl:input>
			<wsdl:output name="getConvertedDispositionAmountResponse" message="impl:getConvertedDispositionAmountResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="activateCard">
			<wsdl:input name="activateCardRequest" message="impl:activateCardRequest">
			</wsdl:input>
			<wsdl:output name="activateCardResponse" message="impl:activateCardResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelCard">
			<wsdl:input name="cancelCardRequest" message="impl:cancelCardRequest">
			</wsdl:input>
			<wsdl:output name="cancelCardResponse" message="impl:cancelCardResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deactivateCard">
			<wsdl:input name="deactivateCardRequest" message="impl:deactivateCardRequest">
			</wsdl:input>
			<wsdl:output name="deactivateCardResponse" message="impl:deactivateCardResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executePayment">
			<wsdl:input name="executePaymentRequest" message="impl:executePaymentRequest">
			</wsdl:input>
			<wsdl:output name="executePaymentResponse" message="impl:executePaymentResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executePaymentActDate">
			<wsdl:input name="executePaymentActDateRequest" message="impl:executePaymentActDateRequest">
			</wsdl:input>
			<wsdl:output name="executePaymentActDateResponse" message="impl:executePaymentActDateResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executePaymentACK">
			<wsdl:input name="executePaymentACKRequest" message="impl:executePaymentACKRequest">
			</wsdl:input>
			<wsdl:output name="executePaymentACKResponse" message="impl:executePaymentACKResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelPayment">
			<wsdl:input name="cancelPaymentRequest" message="impl:cancelPaymentRequest">
			</wsdl:input>
			<wsdl:output name="cancelPaymentResponse" message="impl:cancelPaymentResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMid">
			<wsdl:input name="getMidRequest" message="impl:getMidRequest">
			</wsdl:input>
			<wsdl:output name="getMidResponse" message="impl:getMidResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="openLoopGiftcardActivation">
			<wsdl:input name="openLoopGiftcardActivationRequest" message="impl:openLoopGiftcardActivationRequest">
			</wsdl:input>
			<wsdl:output name="openLoopGiftcardActivationResponse" message="impl:openLoopGiftcardActivationResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="openLoopGiftcardReversal">
			<wsdl:input name="openLoopGiftcardReversalRequest" message="impl:openLoopGiftcardReversalRequest">
			</wsdl:input>
			<wsdl:output name="openLoopGiftcardReversalResponse" message="impl:openLoopGiftcardReversalResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="loadWallet">
			<wsdl:input name="loadWalletRequest" message="impl:loadWalletRequest">
			</wsdl:input>
			<wsdl:output name="loadWalletResponse" message="impl:loadWalletResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelLoadWallet">
			<wsdl:input name="cancelLoadWalletRequest" message="impl:cancelLoadWalletRequest">
			</wsdl:input>
			<wsdl:output name="cancelLoadWalletResponse" message="impl:cancelLoadWalletResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executePayout">
			<wsdl:input name="executePayoutRequest" message="impl:executePayoutRequest">
			</wsdl:input>
			<wsdl:output name="executePayoutResponse" message="impl:executePayoutResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="refund">
			<wsdl:input name="refundRequest" message="impl:refundRequest">
			</wsdl:input>
			<wsdl:output name="refundResponse" message="impl:refundResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="payout">
			<wsdl:input name="payoutRequest" message="impl:payoutRequest">
			</wsdl:input>
			<wsdl:output name="payoutResponse" message="impl:payoutResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPayoutState">
			<wsdl:input name="getPayoutStateRequest" message="impl:getPayoutStateRequest">
			</wsdl:input>
			<wsdl:output name="getPayoutStateResponse" message="impl:getPayoutStateResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="precheckPayout">
			<wsdl:input name="precheckPayoutRequest" message="impl:precheckPayoutRequest">
			</wsdl:input>
			<wsdl:output name="precheckPayoutResponse" message="impl:precheckPayoutResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PscSoapBinding" type="impl:Psc">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createDisposition">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="createDispositionRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createDispositionResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="assignCardToDisposition">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="assignCardToDispositionRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="assignCardToDispositionResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="assignCardsToDisposition">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="assignCardsToDispositionRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="assignCardsToDispositionResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modifyDispositionValue">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="modifyDispositionValueRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="modifyDispositionValueResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSerialNumbers">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getSerialNumbersRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getSerialNumbersResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDispositionRawState">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getDispositionRawStateRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getDispositionRawStateResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executeDebit">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="executeDebitRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="executeDebitResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executeDirectDebit">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="executeDirectDebitRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="executeDirectDebitResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCardInfo">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getCardInfoRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getCardInfoResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCardInfoActDate">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getCardInfoActDateRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getCardInfoActDateResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBalance">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getBalanceRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getBalanceResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConvertedDispositionAmount">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getConvertedDispositionAmountRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getConvertedDispositionAmountResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="activateCard">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="activateCardRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="activateCardResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelCard">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="cancelCardRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="cancelCardResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deactivateCard">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="deactivateCardRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deactivateCardResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executePayment">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="executePaymentRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="executePaymentResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executePaymentActDate">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="executePaymentActDateRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="executePaymentActDateResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executePaymentACK">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="executePaymentACKRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="executePaymentACKResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelPayment">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="cancelPaymentRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="cancelPaymentResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMid">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getMidRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getMidResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="openLoopGiftcardActivation">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="openLoopGiftcardActivationRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="openLoopGiftcardActivationResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="openLoopGiftcardReversal">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="openLoopGiftcardReversalRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="openLoopGiftcardReversalResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="loadWallet">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="loadWalletRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="loadWalletResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelLoadWallet">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="cancelLoadWalletRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="cancelLoadWalletResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="executePayout">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="executePayoutRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="executePayoutResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="refund">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="refundRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="refundResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="payout">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="payoutRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="payoutResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getPayoutState">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getPayoutStateRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getPayoutStateResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="precheckPayout">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="precheckPayoutRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="precheckPayoutResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PscService">
		<wsdl:port name="Psc" binding="impl:PscSoapBinding">
			<wsdlsoap:address location="https://soatest.paysafecard.com/psc/services/PscService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
